<%= turbo_frame_tag inventory do %>
  <div class="p-6 bg-white border border-gray-300 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between">
      <div>
        <%= link_to dashboard_inventory_path(inventory), data: { turbo_frame: "_top" } do %>
          <h5 class="mb-2 text-md font-bold tracking-tight text-gray-900 hover:text-gray-700 dark:text-white"><%= inventory.name %></h5>
        <% end %>

        <% if inventory.description.present? %>
          <p class="mb-3 italic text-gray-800 dark:text-gray-400 text-sm"><%= inventory.description.truncate(40) %></p>
        <% else %>
          <p class="mb-3 text-gray-600 italic dark:text-gray-400 text-sm">No description</p>
        <% end %>
      </div>

      <% if inventory.user == current_user %>
        <div>
          <button id="dropdownMenuIconButton-<%= inventory.id %>" data-dropdown-toggle="dropdownDots-<%= inventory.id %>" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-700 bg-white rounded-full hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
            <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
            </svg>
          </button>

          <div id="dropdownDots-<%= inventory.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 border">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton-<%= inventory.id %>">
              <li class="border-b">
                <%= link_to edit_inventory_path(inventory), class: "flex items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: {action: "click->dialog#open", turbo_frame: :modal} do %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                  Edit
                <% end %>
              </li>
              <li>
                <%= link_to confirm_delete_inventory_path(inventory), data: { turbo_frame: :modal }, class: "flex items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>

                    Delete
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    
    <% if inventory.user != current_user %>
      <div class="mb-5">
        <%= inventory_owner_badge(inventory) %>
      </div>
    <% end %>

    <div class="flex justify-between">
      <%= link_to dashboard_inventory_path(inventory), data: { turbo_frame: "_top" }, class: "inline-flex items-center gap-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" do %>
        Show inventory
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
      <% end %>

      <div class="flex -space-x-4 rtl:space-x-reverse">
        <% if inventory.members.count > 0 %>
          <% inventory.members.first(3).each do |member| %>
            <% if member.profile.avatar.attached? %>
              <%= image_tag(member.profile.avatar, class: "w-8 h-8 border-2 border-white rounded-full dark:border-gray-800", alt: "inventory user picture") %>
            <% else %>
              <%= image_tag('others/default avatar.png', class: "w-8 h-8 object-cover rounded-full border-gray-800", alt: "profile picture", data: { "profile-edit-form-target": "avatarPreview" }) %>
            <% end %>
          <% end %>
          <% if inventory.members.count > 3 %>
            <%= link_to inventory_inventory_users_path(inventory), data: { turbo_frame: "_top" }, class: "flex items-center justify-center w-8 h-8 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" do %>
              + <%= inventory.members.count - 3 %>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag(inventory.user.profile.avatar, class: "w-8 h-8 object-cover rounded-full", alt: "inventory user picture") %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
