<% content_for :title, "Inventories" %>

<div>
  <div class="flex items-center justify-between mb-5">
    <h1 class="font-bold text-xl">Inventories <span id="header_counter_badge" class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-blue-700 dark:text-blue-300"><%= render 'inventories/components/header_counter_badge' %></span></h1>
    
    <div id="inventories_tab" class="hidden md:block">
      <%= render 'inventories/components/inventories_tab' %>
    </div>
    
    <div class="flex gap-2 items-center">
      <%= link_to new_inventory_path, class: "inline-flex whitespace-nowrap items-center gap-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer", data: { turbo_frame: :modal } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Add inventory
      <% end %>
    </div>
  </div>

  <div id="inventories_tab" class="md:hidden mb-5">
    <%= render 'inventories/components/inventories_tab' %>
  </div>

  <% if @inventories.none? %>
    <div id="empty_state">
      <%= render "inventories/components/empty_state" %>
    </div>
  <% end %>

  <!-- inventories -->
    <%= content_tag(:"turbo-frame", id: "inventories", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5") do %>
      <%= render @inventories %>
    <% end %>
</div>
