<% provide(:title, "Users") %>
<div class="">
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <%= link_to root_path, class: "inline-flex items-center text-sm font-medium text-orange-700 hover:text-orange-600 dark:text-orange-400 dark:hover:text-white" do %>
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    Home
                <% end %>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Users</span>
                </div>
            </li>
        </ol>
    </nav>

    <div class="mb-">
        <div class="flex gap-2 items-center justify-between mb-5 md:mb-3">
            <h1 class="font-bold text-xl">Users <span id="header_counter_badge" class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-700 dark:text-blue-300"><%= render 'users/components/header_counter_badge' %></span></h1>
            
            <div class="flex gap-2 items-center">

                <!-- search form -->

                <div class="hidden md:block items-search">
                    <%= render 'users/components/users_search_form', url: users_path %>
                </div>

                <% if current_user.admin? %>
                    <%= link_to new_user_path, class: "inline-flex whitespace-nowrap items-center gap-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800", data: { turbo_frame: :modal } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Add user
                    <% end %>
                <% end %>
            </div>
        </div>

        <% if params[:page] %>
            <h2 class="font-bold text-l mb-5">Page: <%= params[:page] %></h2>
        <% end %>

        <!-- mobile search form -->
        <div class="block md:hidden mb-5">
            <%= render 'users/components/mobile_users_search_form', url: users_path %>
        </div>
    </div>

    <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>

        <div class="items container mx-auto">
            <!-- Header -->
            <div class="header hidden md:flex justify-between items-center bg-gray-100 px-4 py-3 border rounded-lg text-gray-600 font-semibold mb-6 shadow">
                <div class="w-1/4 text-left"><h1><%= sort_link(@q, :profile_name, default_order: :desc) %></h1></div>
                <div class="w-1/4 text-center"><h1><%= sort_link(@q, :email_address, default_order: :desc) %></h1></div>
                <div class="w-1/4 text-center"><h1><%= sort_link(@q, :role, "Role") %></h1></div>
                <div class="w-1/4 text-center"><h1><%= sort_link(@q, :created_at, "Created on") %></h1></div>
            </div>

            <!-- Items -->
            <%= turbo_frame_tag "users" do %>
                <% if @users.any? %>
                    <%= render @users %>
                <% else %>
                    <p>No users</p>
                <% end %>
            <% end %>
        </div>
    <% end %>

</div>