<div class="border-b border-gray-200 my-5">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
        <li class="mr-2">
            <%= link_to inventory_inventory_user_path(@inventory, @inventory_user, tab: 'activities'), 
            class: "inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg #{@current_tab == 'activities' ? 'text-blue-600 border-blue-600 active' : 'border-transparent hover:text-gray-600 hover:border-gray-300'}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
            </svg>
            Activities
            <span class="ml-2 bg-gray-100 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full">
                <%= @inventory_user.permitted_categories.count %>
            </span>
            <% end %>
        </li>
        <li class="mr-2">
            <%= link_to inventory_inventory_user_path(@inventory, @inventory_user, tab: 'categories'), 
            class: "inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg #{@current_tab == 'categories' ? 'text-blue-600 border-blue-600 active' : 'border-transparent hover:text-gray-600 hover:border-gray-300'}" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
            </svg>
            Permitted Categories
            <span class="ml-2 bg-gray-100 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full">
                <%= @inventory_user.permitted_categories.count %>
            </span>
            <% end %>
        </li>
    </ul>
</div>

<%# Activities Tab Content %>
<% if @current_tab == 'activities' %>
    <div class="mt-8">
        <div class="bg-white dark:bg-gray-800 shadow-sm rounded-lg overflow-hidden">
            <div class="px-4 py-5 sm:p-6">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                        <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                            User Activity
                        </h3>
                    </div>
                    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                        <%= link_to inventory_inventory_user_activity_logs_path(@inventory, @inventory_user), 
                            class: "text-sm font-semibold text-blue-600 hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300" do %>
                            View All Activity
                        <% end %>
                    </div>
                </div>
                
                <%= turbo_frame_tag "user_activity" do %>
                    <%= render "activity_logs/list", activity_logs: @activity_logs %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<%# Activities Tab Content %>
<% if @current_tab == 'categories' %>
    <% if @permitted_categories.present? %>
        <%= content_tag(:"turbo-frame", id: "permitted_categories", class: "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5") do %>
            <%= render partial: 'categories/category', collection: @permitted_categories %>
        <% end %>
    <% else %>
        <p class="text-sm italic text-gray-600 mt-4">Category permissions have not been updated!</p>
    <% end %>
<% end %>