<div class="p-5">
    <%= form_with(model: [inventory, item], class: "w-full") do |form| %>
        <%= render 'shared/errors', form: form %>
        
        <div class="mb-4">
            <%#= form.label :name, class: "block text-sm font-semibold" %>
            <%= form.text_field :name, placeholder: "Name", class: "text-sm w-full px-3 p-2.5 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400 text-gray-700", required: true %>
        </div>

        <div class="mb-4">
            <%#= form.label :description, class: "block text-sm font-semibold" %>
            <%= form.text_area :description, placeholder: "Description", class: "text-sm h-24 mt-2 w-full px-3 p-2.5 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400 text-gray-700" %>
        </div>
        
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="mb-4">
                <%#= form.label :quantity, class: "block text-sm font-semibold" %>
                <%= form.text_field :quantity, placeholder: "Quantity", class: "text-sm mt-2 w-full px-3 p-2.5 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400 text-gray-700", required: true, disabled: !form.object.new_record? %>
                <small class="hint">
                    Add/remove qty through inventory actions.
                </small>
            </div>
            <div class="mb-4">
                <%#= form.label :stock_threshold, class: "block text-sm font-semibold" %>
                <%= form.number_field :stock_threshold, value: item.stock_threshold.zero? ? "" : item.stock_threshold, class: "text-sm mt-2 w-full px-3 p-2.5 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400 text-gray-700", required: true %>
                <small class="hint">
                    Enter 0 to use inventory threshold (<%= @inventory.global_stock_threshold %>).
                </small>
            </div>
        </div>

        <div class="mb-4">
            <%#= form.label :category, class: "block text-sm font-semibold" %>
            <%= form.select :category_id, Category.all.pluck(:name, :id), { include_blank: "Select category" }, class: "text-sm mt-2 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 cursor-pointer text-gray-700", id: "category_select" %>
        </div>

        <%= form.submit "Save", class: "w-full cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <% end %>
</div>